#center{
    text-align: center;
}

#msg {
    position: absolute;
    top:0;
    font-size: 70px;
    font-family: din, serif;
}

@font-face {
    font-family: "din";
    src: url("fonts/D-DIN.woff2");
    src: url("fonts/D-DIN.woff");
}